<div class="contact-container">
    <div class="contact">
        <h1 class="contact-header">Lets Get in Touch!</h1>
        <div class="contact-logo-container">
            <a href="https://www.linkedin.com/in/kevin-nelson1/" target="_target">
                <fa-icon class="contact-icon" [icon]="faLinkedinIn"></fa-icon>
            </a>
                <fa-icon class="contact-icon" [icon]="faEnvelope"></fa-icon>
            <a href="https://github.com/SamuraiViking" target="_target">
                <fa-icon class="contact-icon" [icon]="faGithub"></fa-icon>
            </a>
        </div>
    </div>
</div>
