.experience-container {
    padding: 150px 20px;
}

.purple {
    background: rgb(63, 81, 181);
}

.blue {
    background: rgb(103, 58, 183);
}

.pink {
    background: rgb(156, 39, 176);
}

.experience {
    margin: 0px auto;
    max-width: 600px;
}

.experience-video {
    max-height: 530px;
    min-height: 300px;
    height: 30vw;
}

.experience-content {
    padding: 40px 20px 0 20px;
}

.experience-header {
    padding: 15px 0;
}